header li {
  margin-bottom: 0px; }

header a {
  display: block;
  font-size: 0.8rem;
  line-height: inherit;
  border-bottom: none;
  transition-property: border-color; }
  header a:hover {
    border-bottom: none; }

header .fas {
  font-size: 12px;
  margin-right: 4px; }

header .nav-item {
  margin-left: 10px; }

header .m-header-container {
  background: rgba(255, 255, 255, 0.9); }

header .navbar-brand {
  padding-top: 0;
  padding-bottom: 0; }

.m-navbar {
  border-bottom: 1px solid #ddd; }

ul.socials {
  list-style: none;
  margin: 0;
  padding: 0; }
  ul.socials li {
    display: inline-block;
    margin: 2px 6px 2px 0; }
  ul.socials i {
    font-size: 18px;
    padding: 0 3px;
    margin: 0; }
  ul.socials a {
    text-decoration: none;
    font-size: 13px;
    border-bottom: none;
    padding: 5px 7px;
    border-radius: 3px;
    transition: all 0.3s;
    line-height: 1; }
    ul.socials a:hover {
      background-color: #555;
      border-radius: 3px;
      color: white; }

ul.socials.detail {
  margin-left: 12px; }
  ul.socials.detail li {
    display: flex;
    margin: 0;
    margin-bottom: 4px; }
  ul.socials.detail i {
    font-size: 16px;
    margin-right: 2px; }
    ul.socials.detail i svg {
      width: 18px; }
  ul.socials.detail a {
    text-align: left;
    padding: 3px; }

#m-footer {
  font-size: 12px; }

.page-content {
  margin-top: 90px; }

