.post-content {
  padding-top: 12px;
  margin: 0 12px; }
  .post-content h1 {
    text-align: center; }
  .post-content img {
    max-height: 80%; }
  .post-content .post-meta {
    font-size: 13px;
    color: #999;
    text-align: center;
    padding-bottom: 32px; }
  .post-content i {
    margin-right: 6px; }

.m-info i {
  margin-right: 5px; }

.profile-wrapper {
  border: 10px solid #eee;
  border-radius: 50%; }
  .profile-wrapper img {
    border-radius: 50%; }

ul.keywords {
  list-style: none;
  margin: 0;
  padding: 4px 0; }
  ul.keywords li {
    display: inline-block;
    margin: 2px 6px 2px 0; }

ul.keywords span {
  border: 1px solid #0684bd;
  border-radius: 3px;
  padding: 0px 6px 2px 6px;
  margin: 0px 2px;
  color: #0684bd; }

ul.news {
  margin-left: 18px;
  padding-inline-start: 0px;
  margin-block-end: 0px;
  margin-block-start: 0px; }
  ul.news li {
    margin-bottom: 0.25rem; }

.news-date {
  font-style: italic;
  font-weight: 600; }


.experiences {
  border: 0;
  border-spacing: 0;
  margin-bottom: 0; }
  .experiences .date {
    font-size: 0.75rem;
    font-weight: 300;
    min-width: 60px;
    text-align: right; }
  .experiences span.date-from::after {
    content: " "; }
  .experiences span.date-to {
    white-space: nowrap; }
    .experiences span.date-to::before {
      content: "- "; }
  .experiences tr {
    border: none; }
  .experiences td {
    vertical-align: top;
    border-bottom: none; }
  .experiences span.institute::after {
    content: ", "; }
  .experiences div.content {
    margin-top: 4px;
    font-weight: 300;
    font-size: 0.75rem; }

.pub ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0; }
  .pub ul li {
    float: left;
    transition: all 0.3s; }
  .pub ul li.pub-resource {
    font-size: 0.75rem;
    font-weight: 300;
    line-height: 1;
    padding: 3px 5px 5px 5px;
    margin: 3px 5px 3px 0;
    background: #fafafa;
    border-color: #ccc;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    transition-property: background-color, border-color; }
    .pub ul li.pub-resource a {
      color: #666;
      border-bottom: none; }
    .pub ul li.pub-resource:hover, .pub ul li.pub-resource:active {
      background: #555;
      border-color: #555; }
      .pub ul li.pub-resource:hover a, .pub ul li.pub-resource:active a {
        color: white; }

.pub-venue-type {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 2px;
  border-width: 1px;
  border-color: #555;
  border-style: solid;
  margin-right: 4px; }

.pub-venue {
  color: gray;
  margin-bottom: 2px; }

.pub-info {
  justify-content: center;
  padding: 0px 0; }
  .pub-info h5 {
    margin-top: 0px;
    margin-bottom: 0px; }

.pub-title {
  color: black;
  font-weight: 500;
  font-family: "Helvetica Neue", sans-serif; }

.pub-teaser {
  width: 100%;
  height: auto;
  padding-right: 12px;
  font-size: 25px;
  color: #666;
  text-align: center;
  line-height: 2;
  vertical-align: middle;
  align-items: center; }

.hider_title {
  cursor: pointer; }

.close:after {
  content: "+"; }

.open:after {
  content: "-"; }

.awards {
  font-weight: 400;
  border: 0;
  border-spacing: 0; }
  .awards .date {
    font-size: 0.75rem;
    font-weight: 300;
    text-align: right;
    min-width: 65px; }
  .awards .award-content {
    margin-top: 4px;
    font-size: 0.7rem;
    font-weight: 300; }
  .awards tr {
    border: none; }
  .awards td {
    vertical-align: top;
    border-bottom: none; }

.vita {
  line-height: 1.5; }
  .vita h5 {
    font-size: 0.8rem;
    margin-bottom: 0; }
  .vita h2 {
    font-size: 1.2rem; }

@media print {
  a {
    text-decoration: none;
    border-bottom: none; }
  footer {
    display: none; }
  @page {
    size: auto; } }

.educations {
  font-weight: 300;
  border: 0;
  border-spacing: 0;
  margin-bottom: 0; }
  .educations .degree {
    font-weight: 600; }
  .educations .date {
    font-size: 0.75rem;
    font-weight: 300;
    min-width: 60px;
    text-align: right; }
  .educations span.date-from::after {
    content: " "; }
  .educations span.date-to {
    white-space: nowrap; }
    .educations span.date-to::before {
      content: "- "; }
  .educations span.institute::after {
    content: ", "; }
  .educations tr {
    border: none; }
  .educations td {
    vertical-align: top;
    border-bottom: none; }

.name {
  font-size: 2.5rem;
  margin-top: 0; }

.contact {
  font-weight: 300;
  text-align: right; }
  .contact i {
    margin-right: 5px;
    display: inline-flex;
    align-self: center;
    top: .2em;
    position: relative; }

