.post-wrapper {
  line-height: 2;
  padding-top: 12px;
  margin: 0 12px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 576px) {
    .post-wrapper {
      max-width: 560px; } }
  @media (min-width: 768px) {
    .post-wrapper {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .post-wrapper {
      max-width: 780px; } }
  @media (min-width: 1200px) {
    .post-wrapper {
      max-width: 820px; } }
  .post-wrapper img {
    max-height: 80%; }
  .post-wrapper .post-meta {
    font-size: 13px;
    color: #999;
    text-align: center;
    padding-bottom: 32px; }
  .post-wrapper .post-meta-divider {
    margin: 0 5px; }
  .post-wrapper i {
    margin-right: 6px; }

.post-header h1 {
  font-size: 1.5rem;
  text-align: center; }

.post-body h1,
.post-body h2,
.post-body h3, .post-body h4 {
  font-weight: 600; }

.post-body h1, .post-body h2, .post-body h3, .post-body h4, .post-body h5, .post-body h6 {
  margin: 10px 0; }

.post-body h1 {
  font-size: 1.4rem; }

.post-body h2 {
  font-size: 1.25rem; }

.post-body h3 {
  font-size: 1.1rem; }

.post-body h4 {
  font-size: 1rem; }

.post-wrapper {
  line-height: 2;
  padding-top: 12px;
  margin: 0 12px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 576px) {
    .post-wrapper {
      max-width: 560px; } }
  @media (min-width: 768px) {
    .post-wrapper {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .post-wrapper {
      max-width: 780px; } }
  @media (min-width: 1200px) {
    .post-wrapper {
      max-width: 820px; } }
  .post-wrapper img {
    max-height: 80%; }
  .post-wrapper .post-meta {
    font-size: 13px;
    color: #999;
    text-align: center;
    padding-bottom: 32px; }
  .post-wrapper .post-meta-divider {
    margin: 0 5px; }
  .post-wrapper i {
    margin-right: 6px; }

.post-header h1 {
  font-size: 1.5rem;
  text-align: center; }

.post-body h1,
.post-body h2,
.post-body h3, .post-body h4 {
  font-weight: 600; }

.post-body h1, .post-body h2, .post-body h3, .post-body h4, .post-body h5, .post-body h6 {
  margin: 10px 0; }

.post-body h1 {
  font-size: 1.4rem; }

.post-body h2 {
  font-size: 1.25rem; }

.post-body h3 {
  font-size: 1.1rem; }

.post-body h4 {
  font-size: 1rem; }

#posts {
  border-top: 0; }
  #posts .post-header h1 {
    text-align: left; }
  #posts .post {
    margin-top: 70px; }
  #posts .post:first-child {
    margin-top: 0; }
  #posts .post-meta {
    font-size: 13px;
    color: #999;
    text-align: left;
    padding-bottom: 12px; }

.project-content {
  line-height: 2;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 576px) {
    .project-content {
      max-width: 560px; } }
  @media (min-width: 768px) {
    .project-content {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .project-content {
      max-width: 780px; } }
  @media (min-width: 1200px) {
    .project-content {
      max-width: 820px; } }
  .project-content img {
    max-height: 80%; }
  .project-content i {
    margin-right: 6px; }

.project-header h1 {
  text-align: center; }

.project-body h1,
.project-body h2,
.project-body h3, .project-body h4 {
  font-weight: 600; }

.project-body h1 {
  font-size: 1.6rem; }

.project-body h2 {
  font-size: 1.25rem; }

.project-body h3 {
  font-size: 1.1rem; }

.project-body h4 {
  font-size: 1rem; }

.m-info i {
  margin-right: 5px; }

.profile-wrapper {
  border: 10px solid #eee;
  border-radius: 50%; }
  .profile-wrapper img {
    border-radius: 50%; }

ul.keywords {
  list-style: none;
  margin: 0;
  padding: 4px 0; }
  ul.keywords li {
    display: inline-block;
    margin: 2px 6px 2px 0; }

ul.keywords span {
  border: 1px solid #0684bd;
  border-radius: 3px;
  padding: 0px 6px 2px 6px;
  margin: 0px 2px;
  color: #0684bd; }

ul.news {
  margin-left: 18px;
  padding-inline-start: 0px;
  margin-block-end: 0px;
  margin-block-start: 0px; }
  ul.news li {
    margin-bottom: 0.25rem; }

.news-date {
  font-style: italic;
  font-weight: 600; }

.cv-table {
  font-weight: 300;
  border: 0;
  border-spacing: 0;
  margin-bottom: 0;
  width: 100%; }
  .cv-table .cv-left {
    font-size: 0.75rem;
    font-weight: 300;
    width: 120px;
    text-align: right; }
    @media (max-width: 840px) {
      .cv-table .cv-left {
        min-width: 85px;
        max-width: 95px; } }
  .cv-table tr {
    border: none;
    break-inside: avoid-page; }
  .cv-table td {
    vertical-align: top;
    border-bottom: none; }

.experiences {
  font-weight: 400; }
  .experiences span.date-from::after {
    content: " "; }
  .experiences span.date-to {
    white-space: nowrap; }
  .experiences span.institute::after {
    content: ", "; }
  .experiences div.description {
    margin-top: 2px;
    font-weight: 300;
    font-size: 0.75rem; }

.pub {
  break-inside: avoid; }
  .pub ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0; }
    .pub ul li {
      float: left;
      transition: all 0.3s; }
    .pub ul li.pub-resource {
      font-size: 0.75rem;
      font-weight: 300;
      line-height: 1;
      padding: 3px 5px 5px 5px;
      margin: 3px 5px 3px 0;
      background: #fafafa;
      border-color: #ccc;
      border-style: solid;
      border-width: 1px;
      border-radius: 5px;
      transition-property: background-color, border-color; }
      .pub ul li.pub-resource a {
        color: #666;
        border-bottom: none; }
      .pub ul li.pub-resource:hover, .pub ul li.pub-resource:active {
        background: #555;
        border-color: #555; }
        .pub ul li.pub-resource:hover a, .pub ul li.pub-resource:active a {
          color: white; }

.pub-venue-type {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 2px;
  border-width: 1px;
  border-color: #555;
  border-style: solid;
  margin-right: 4px; }

.pub-venue {
  color: gray;
  margin-bottom: 3px; }

.pub-info {
  justify-content: center;
  padding: 0px 0; }
  .pub-info h5 {
    margin-top: 0px;
    margin-bottom: 2px; }

.pub-title {
  color: black;
  font-weight: 500;
  font-family: "Helvetica Neue", sans-serif; }

.pub-author {
  margin-bottom: 3px; }

.pub-note {
  font-weight: 300; }

.pub-teaser {
  width: 100%;
  height: auto;
  padding-right: 12px;
  font-size: 25px;
  color: #666;
  text-align: center;
  line-height: 2;
  vertical-align: middle;
  align-items: center; }


.awards .award-title {
  font-weight: 400; }

.awards .award-content {
  margin-top: 2px;
  font-size: 0.7rem;
  font-weight: 300; }
  .awards .award-content p {
    margin-bottom: 0; }

.educations .degree {
  font-weight: 600; }

.educations span.date-from::after {
  content: " "; }

.educations span.date-to {
  white-space: nowrap; }

.educations span.institute::after {
  content: ", "; }

.educations span.institute {
  font-weight: 400; }

.educations .description strong {
  font-weight: 400; }

.name {
  font-size: 2.5rem;
  margin-top: 0; }

.contact {
  font-weight: 300;
  text-align: right; }
  .contact i {
    margin-right: 5px;
    display: inline-flex;
    align-self: center;
    top: .2em;
    position: relative; }

.name-small {
  font-size: 1rem; }

.talks .talk-title {
  font-weight: 400; }

.talks .talk-venue {
  font-style: italic; }

.vita {
  line-height: 1.5;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
  .vita h5 {
    font-size: 0.8rem;
    margin-bottom: 3px; }
  .vita h2 {
    margin: 12px 0 0px 0;
    font-size: 1.2rem; }
  .vita p {
    margin-bottom: 0; }
  @media (min-width: 576px) {
    .vita {
      max-width: 560px; } }
  @media (min-width: 768px) {
    .vita {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .vita {
      max-width: 780px; } }
  @media (min-width: 1200px) {
    .vita {
      max-width: 820px; } }
  .vita .cv-table .cv-left {
    width: 90px; }
    .vita .cv-table .cv-left .service-name, .vita .cv-table .cv-left .skill-name {
      font-weight: 400;
      white-space: pre; }
  .vita .cv-table td {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem; }

@media print {
  a {
    text-decoration: none;
    border-bottom: none; }
  @page {
    size: auto;
    margin-top: 1.5cm;
    margin-bottom: 1.0cm; }
  section {
    border-top: 10px solid transparent;
    margin-top: -10px;
    padding: 3px 0; }
  .page-content {
    margin-top: 20px; } }

.vita {
  line-height: 1.43;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
  .vita h5 {
    font-size: 0.8rem;
    margin-bottom: 3px; }
  .vita h2 {
    margin: 12px 0 0px 0;
    font-size: 1.3rem; }
  .vita p {
    margin-bottom: 0; }
  @media (min-width: 576px) {
    .vita {
      max-width: 560px; } }
  @media (min-width: 768px) {
    .vita {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .vita {
      max-width: 780px; } }
  @media (min-width: 1200px) {
    .vita {
      max-width: 820px; } }
  .vita .cv-table .cv-left {
    width: 90px; }
    .vita .cv-table .cv-left .service-name, .vita .cv-table .cv-left .skill-name {
      font-weight: 400;
      white-space: pre; }
  .vita #services {
    break-inside: avoid; }
  .vita #skills {
    page-break-inside: avoid; }
  .vita #awards {
    page-break-inside: avoid; }
  .vita .cv-table td {
    padding-top: 0.3rem;
    padding-bottom: 0.2rem; }

@media print {
  a {
    text-decoration: none;
    border-bottom: none; }
  @page {
    size: auto;
    margin-top: 1.3cm;
    margin-bottom: 1.3cm; }
  section {
    border-top: 20px solid transparent;
    margin-top: -20px;
    padding: 4px 0; }
  .page-content {
    margin-top: 50px; } }

.m-info p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }

