.post-content {
  line-height: 2;
  padding-top: 12px;
  margin: 0 12px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 576px) {
    .post-content {
      max-width: 560px; } }
  @media (min-width: 768px) {
    .post-content {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .post-content {
      max-width: 780px; } }
  @media (min-width: 1200px) {
    .post-content {
      max-width: 820px; } }
  .post-content img {
    max-height: 80%; }
  .post-content .post-meta {
    font-size: 13px;
    color: #999;
    text-align: center;
    padding-bottom: 32px; }
  .post-content i {
    margin-right: 6px; }

.post-header h1 {
  text-align: center; }

.post-body h1,
.post-body h2,
.post-body h3, .post-body h4 {
  font-weight: 600; }

.post-body h1 {
  font-size: 1.6rem; }

.post-body h2 {
  font-size: 1.25rem; }

.post-body h3 {
  font-size: 1.1rem; }

.post-body h4 {
  font-size: 1rem; }

.project-content {
  line-height: 2;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 576px) {
    .project-content {
      max-width: 560px; } }
  @media (min-width: 768px) {
    .project-content {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .project-content {
      max-width: 780px; } }
  @media (min-width: 1200px) {
    .project-content {
      max-width: 820px; } }
  .project-content img {
    max-height: 80%; }
  .project-content i {
    margin-right: 6px; }

.project-header h1 {
  text-align: center; }

.project-body h1,
.project-body h2,
.project-body h3, .project-body h4 {
  font-weight: 600; }

.project-body h1 {
  font-size: 1.6rem; }

.project-body h2 {
  font-size: 1.25rem; }

.project-body h3 {
  font-size: 1.1rem; }

.project-body h4 {
  font-size: 1rem; }

.m-info i {
  margin-right: 5px; }

.profile-wrapper {
  border: 10px solid #eee;
  border-radius: 50%; }
  .profile-wrapper img {
    border-radius: 50%; }

ul.keywords {
  list-style: none;
  margin: 0;
  padding: 4px 0; }
  ul.keywords li {
    display: inline-block;
    margin: 2px 6px 2px 0; }

ul.keywords span {
  border: 1px solid #0684bd;
  border-radius: 3px;
  padding: 0px 6px 2px 6px;
  margin: 0px 2px;
  color: #0684bd; }

ul.news {
  margin-left: 18px;
  padding-inline-start: 0px;
  margin-block-end: 0px;
  margin-block-start: 0px; }
  ul.news li {
    margin-bottom: 0.25rem; }

.news-date {
  font-style: italic;
  font-weight: 600; }


.educations .degree {
  font-weight: 600; }

.educations span.date-from::after {
  content: " "; }

.educations span.date-to {
  white-space: nowrap; }

.educations span.institute::after {
  content: ", "; }

.educations span.institute {
  font-weight: 400; }

.educations .description strong {
  font-weight: 400; }

.name {
  font-size: 2.5rem;
  margin-top: 0; }

.contact {
  font-weight: 300;
  text-align: right; }
  .contact i {
    margin-right: 5px;
    display: inline-flex;
    align-self: center;
    top: .2em;
    position: relative; }

.talks .talk-title {
  font-weight: 400; }

.talks .talk-venue {
  font-style: italic; }

.vita {
  line-height: 1.45;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
  .vita h5 {
    font-size: 0.8rem;
    margin-bottom: 3px; }
  .vita h2 {
    margin: 12px 0 0px 0;
    font-size: 1.2rem; }
  .vita p {
    margin-bottom: 0; }
  @media (min-width: 576px) {
    .vita {
      max-width: 560px; } }
  @media (min-width: 768px) {
    .vita {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .vita {
      max-width: 780px; } }
  @media (min-width: 1200px) {
    .vita {
      max-width: 820px; } }
  .vita .cv-table .cv-left {
    width: 90px; }
    .vita .cv-table .cv-left .service-name, .vita .cv-table .cv-left .skill-name {
      font-weight: 400;
      white-space: pre; }

@media print {
  a {
    text-decoration: none;
    border-bottom: none; }
  @page {
    size: auto;
    margin-top: 1.3cm;
    margin-bottom: 1.3cm; }
  section {
    border-top: 10px solid transparent;
    margin-top: -10px;
    padding: 4px 0; }
  .page-content {
    margin-top: 20px; } }

.vita {
  line-height: 1.5;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
  .vita h5 {
    font-size: 0.8rem;
    margin-bottom: 3px; }
  .vita h2 {
    margin: 12px 0 0px 0;
    font-size: 1.2rem; }
  .vita p {
    margin-bottom: 0; }
  @media (min-width: 576px) {
    .vita {
      max-width: 560px; } }
  @media (min-width: 768px) {
    .vita {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .vita {
      max-width: 780px; } }
  @media (min-width: 1200px) {
    .vita {
      max-width: 820px; } }
  .vita .cv-table .cv-left {
    width: 90px; }
    .vita .cv-table .cv-left .service-name, .vita .cv-table .cv-left .skill-name {
      font-weight: 400;
      white-space: pre; }

@media print {
  a {
    text-decoration: none;
    border-bottom: none; }
  @page {
    size: auto;
    margin-top: 1.5cm;
    margin-bottom: 1.5cm; }
  section {
    border-top: 20px solid transparent;
    margin-top: -20px;
    padding: 4px 0; }
  .page-content {
    margin-top: 50px; } }

